<main id="classes_page">
    <h1>Our classes</h1>
    <p>Let us  help you find a class that meets your fitnes goals</p>


    {{#if checklogin}}

        {{#each this.classList}}
            <section class="section_classespage">
                <div class="div_classespage">
                <img src={{this.link}} class="img_classes">
                    <div>
                        <p class="coloredText">{{this.title}}</p>
                        <text class="color_textBlack"> with </text>
                        <p class="coloredText">{{this.instructor}}</p>
                        <p class="color_durationText">{{this.duration}} MIN</p>
                        
                        <form method="POST" action="/classes/{{this._id}}">
                            <button id="{{../user}}_{{this.title}}">Book Now</button>
                        </form>
                        <p id="text_{{../user}}_{{this.title}}" class="booktext"></p>
                    </div>
                </div>
            </section>
        {{/each}}

    {{else}}

        {{#each this.classList}}
            <section class="section_classespage">
                <div class="div_classespage">
                <img src={{this.link}} class="img_classes">
                    <div>
                        <p class="coloredText">{{this.title}}</p>
                        <text class="color_textBlack"> with </text>
                        <p class="coloredText">{{this.instructor}}</p>
                        <p class="color_durationText">{{this.duration}} MIN</p>
                        <form method="POST" action="/classes">
                            <button id="btn_book">Book Now</button>
                        </form>
                    </div>
                </div>
            </section>
        {{/each}}   
        
    {{/if}}
    <hr>
</main>

